body,ul,li,h1,h2,a{
margin:0px;
padding:0px;
font-family:arial;
}



header h1{
	    outline: double;
    text-shadow: 3px 2px black;
    outline-color: #e91919;
    color: white;
    border: 8px solid #cfa1a4;
    padding: 6px;
    display: inline-grid;
    border-radius: 30px;
	margin-top: -15px;
    margin-bottom: -11px !important;
}


.image1 img{
		max-width: 50% !important;
	}
	.image1 img:hover{
		
		
		
	}
.container{
	    display: flex;
    justify-content: center;
    flex-direction: row;
	position:relative;
}
.footerparent{
	    display: flex;
    justify-content: center;
	    background: #cf9f97
}


body{
	
	background: #cf9f97;
	user-select: none;
}
header{
	    background: linear-gradient(45deg, #871717, transparent);
	padding:30px;
	text-align:center;
	position:fixed;
	max-width: 100%;
    min-width: 100%;
	z-index:1;
	    top: 0px;
    left: 0px;
}
}
}
	.image1{
		position:relative;
	left:100px;}
	
	.image1 img{
	max-width:100%;
	}
	.image97  img{
		
		max-width:100%;
	}
	.child3:hover,.child4:hover{
		position:relative;
		top:-4px;
	}
	.child3,.child4{
		    max-width: 49%;
			min-width:49%
	}

h1{
	color:black;
}
p{
	color:black;
}
.welcome{
	padding:30px;
	color:antiquewhite;
	background-color:#a72424;
	

	font-size:30px;

	font-size:1.3em;
	    float: left;
    position: absolute;
    left: 0px;
    top: 158px;
    z-index: 1000;
}
.radiobutton{
    background: deepskyblue;
    height: 11px;
    width: 11px;
    border: 4px solid greenyellow;
    border-align: revert;
    border-radius: 10px;
	cursor: pointer;
}
nav{
	
	background-color:#974b3f;
	padding:10px;
	position:sticky;
	top:115px;
	
}

nav li{
	
display:inline-block;
	min-width:25%;
	font-size:24px;
}
nav li a.kashmir{
	
	text-decoration:none;
	color:#edc099;
	display:flex  ;
	justify-content:normal;
}
nav li a.jamuu{
	
	
	text-decoration:none;
	color:#edc099;
	display:flex ;
	justify-content:normal;
}

nav li a.ladakh{
	text-decoration:none;
	color:#edc099;
	display:flex ;
	justify-content:normal;
	
}
.list-parent{
	    display: flex;
    gap: 83px;
	
}
article{
	padding-left: 16px;
}
article h2{
	color:#741515;;
	font-size:48px;
	
}
article p{
	
	line-height:2em;
	color:#5a2a38f7;
}
.image97 img{
	max-width: 200.6% !important;
	

	}
	.login{
		
		    background: #cf9f97
		text-align:center;
		padding:30px 20px;
	color:#f4f4f4;}
.login h3{
	font-size:36px;
	    align-self: center;
}
.login p{    align-self: center;
    align-self: center;
    font-family: fangsong;
    font-size: 21px;}
.Top-nav{
	      margin-left: 0px;
    max-width: 94%;
	 min-width: 94%;
    gap: 66px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.Top-nav a{
	    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
	
}
.Top-nav a:hover{
	text-decoration:underline;
	color:#ed083d;
	padding-right:3px;
}
.parent {
	    padding-left: 9px;
	display: flex;
    justify-content: space-evenly;
    flex-direction: inherit;
	position:relative
	 gap: 83px;
	 
}
nav li a{
	    text-decoration: none;
    color: #edc099;
    display: flex;
    justify-content: normal;
    border-radius: 17px;
    border: 2px solid white;
        padding-left: 40px;
    padding-right: 2px;
}
nav li a:hover{
	text-decoration:underline;
}
.login hr{
	margin:0px;
}
.login .hr1{
	    min-height: 2px;
    background: white;
}
form{
	       display: flex;
    justify-content: center;
    flex-direction: column;
	    background: #cf9f97;
}
form input{
	    align-self: center;
	margin:20px 0;
	padding:10px 20px;
	font-size:24px;
	border-radius:28px;
	border:4px solid white;
	max-width: 89%;
	outline:none;
	
}
form input:valid{
	    border:4px solid green;
	
}

form button{
	    align-self: center;
	margin:20px 0;
	padding:10px 20px;
	font-size:24px;
	border-radius:28px;
	border:4px solid white;
	max-width: 89%;
	outline:none
}
form input:focus{
	border:4px dashed black;
	
}
form button:focus{
	border:4px dashed black;
	

	
	
	
